*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.llt
*.tdo
*.obj
*.pyc
*.pytxcode
*.swp
*.ipynb_checkpoints
*.o
*.f
sac/src/.deps

*.pkl
*.pytxmcr
*.pytxpyg
data/3D_tube_128_128_128.ini
